.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
  padding: 4px;
  border: none;
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--text);
  cursor: pointer;
  transition: color 0.3s ease;
}

.button:focus,
.button:hover {
  color: var(--orange-default);
}

.button:active {
  color: var(--orange-pressed);
}

.button svg {
  transition: transform 0.3s ease;
}

.listboxIconActive {
  transform: rotate(-180deg);
}

.listboxOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--grey-disabled);
  border-radius: 12px 0 12px 12px;
  padding: 24px 10px;
  width: 86px;
  height: 120px;
  background: var(--text-light);
}

.link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--text);
}

.link:focus,
.link:hover {
  color: var(--orange-default);
}

.link:active {
  color: var(--orange-pressed);
}
